* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-main {
    position: relative;
    width: 100%;
    overflow: hidden;

    .slider-wrapper {
        display: flex;

        .slide {
            height: 100vh;
            transition: transform .4s;

            img {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .btns {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);

        .btn {
            padding: 0.6em;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            background: rgba(0, 0, 0, .5);
            border: none;
            border-radius: 0;
            cursor: pointer;
            outline: none;
        }
    }

    .slider-numbers {
        position: absolute;
        display: flex;
        bottom: 30px;
        right: 30px;
        color: #fff;
        font-weight: bold;
        font-size: 3rem;

        p {
            margin: 0 .2em;
        }
    }

    .indicator-list {
        position: absolute;
        display: flex;
        column-gap: .5em;
        bottom: 20px;
        left: 50%;
        list-style: none;
        transform: translateX(-50%);

        .indicator-item {
            width: 30px;
            height: 7px;
            background: #fff;
            border-radius: 1px;
            opacity: .4;
            cursor: pointer;
        }

        .active-item {
            opacity: 1;
        }
    }
}